html {
  -webkit-text-size-adjust: 100%;
  font-family: system-ui;
  overflow: hidden;
}
body {
  font-family: system-ui;
  /* line-height: inherit; */
  margin: 0;
}
h1,
h2,
p,
pre {
  margin: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
